body,
html {
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.principal-container{
    width: 100%;
    height: 100%;
}

.row-title {
    width: 100%;
    text-align: center;
    font-size: 1.8vh;
}

input::placeholder{
    font-size: 0.9rem;
}

#background-search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    width: 100%;
    background-image: url("../images/pattern-bg.png");
    position: relative;
    z-index: 10;
}

#background-search h1 {
    color: white;
}

#firm {
    color: white;
    font-size: 20px;
    padding-right: 5px;

}

#search {
    background-color: transparent;
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 0.5rem;
}

.info-container {
    display: flex;
    margin-top: 40px;
}

.info {
    width: 70%;
    height: auto;
    padding-bottom: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#info-left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

#info-right {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


#info-content-central {
    border-right: 1px solid rgba(60, 59, 64, .5);
}

#locationByIpAddress:focus{ 
    outline: transparent !important;
}

.info-content {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    height: 65%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.info-content h4 {
    color: hsl(0, 0%, 59%);
    letter-spacing: 3px;
    font-size: 1rem;
}

.info-content h2 {
    font-size: 1.1rem;
    margin-top: -10px;
    color: hsl(0, 0%, 17%);
}

#info-content-left {
    border-right: 1px solid rgba(60, 59, 64, .5);
}

#mapid {
    position: relative;
    height: 650px;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 32px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 32px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 32px 4px rgba(0, 0, 0, 0.75);
}

input {
    width: 450px;
    height: 40px;
    font-family: 'Rubik', sans-serif;
    padding-left: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 17px;
}

button {
    margin-left: -8px;
    width: 50px;
    height: 47px;
    background: hsl(0, 0%, 17%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.firm-container {
    background-color: hsl(0, 0%, 17%);
    display: inline-flex;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;
    align-items: center;
    border-radius: 10px;
    height: 50px;
}

@media screen and (max-width: 480px) {
    .info-container {
        margin-top: 25px;
        flex-direction: column;
        align-items: center;
        height: 30%;
    }

    #info-content-central {
        border-right: none;
    }

    #info-content-left {
        border-right: none;
    }

    #info-left {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 15px;
    }

    #info-right {
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0px;
    }


    .info-content {
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .info-content h4 {
        text-align: center;
        font-size: 0.9rem;
    }

    .info-content h2 {
        text-align: center;
        font-size: 1.1rem;
    }

    .info {
        height: 100%;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    #search{
        width: 100%;
    }

    input {
        width: 65%;
    }

    #firm {
        font-size: 10px;
    }

}